<html>
{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta charset="utf-8">
    <title>Login|YAHMS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
<body>

    <div class="loginbox">
    <img src="{% static 'images/avatar.png' %}" class="avatar">
        <h1> <strong> Login </strong> <img src="{% static 'images/key.ico' %}"> </h1>
        <form method="post">
            {% csrf_token  %}
            {{  form.as_p   }}
            <input type="submit" name="" value="Login">
            <a href="{% url 'password_reset' %}">Lost your password?</a><br>
            <a href="{% url 'signup' %}">Don't have an account?</a>
        </form>

    </div>

</body>
</head>

</html>
{% endblock %}
