{% extends "main.html" %}
{% load crispy_forms_tags	%}

{% block title %}
<title>Reset Password</title>
{% endblock title %}

{% block content %}
    <div class="content-section">
        <form method="POST">
          <!-- to secure the form -->
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <small>Enter the related email to request a reset password</small>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
    <input class="btn btn-success" type="submit" value="Request Password Reset">
          </div>
        </form>
    </div>
{% endblock content %}
