body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}





<style media="screen">
    .card-wrapper {
  margin-bottom: 50px;
  }
  .card-image .card .card-img-wrapper {
  height: 100%;
  }
  .card-image .card .card-body {
  display: none;
  }
  .card-image-title-description .card .card-img-wrapper {
  max-height: 160px;
  }
  .card-image-title-description .card {
  position: relative;
  min-height: 300px;
  }
  .card-image-title-description .card .card-body {
  height: auto;
  position: relative;
  top: 0;
  margin-bottom: -70px;
  }
  .card-image-title-description .card:hover .card-body {
  top: -70px;
  }
  .card-image-title-description .card .card-body .card-title {
  margin-bottom: .75rem;
  }
  .card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 100%;
  }
  .card:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
  }
  .card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
  }
  .card-img-wrapper img {
  transition: 1.5s ease;
  }
  .card:hover .card-img-wrapper img {
  transform: scale(1.15);
  }
  .card-body .card-title {
  margin-bottom: calc(50% + 20px);
  transition: 1.5s ease;
  }
  .card:hover .card-body .card-title {
  margin-bottom: .75rem;
  }

  .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  background-color: #fff;
  transition: 1.5s ease;
  }
  .card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: 1.5s ease;
  }
  .card:hover .card-body {
  height: 80%;
  }
  .card:hover .card-content {
  bottom: 0;
  }
  body {
  margin: 0;
  background-image: linear-gradient(to right, #ECE9E6 , #FFFFFF);
  }
</style>
