{% extends 'main.html' %}

{% block content %}
	{% if user.admin %}
		<div class="container-fluid container-fullw bg-white">
		<div class="row">

		<a href="{% url 'patients_list' %}">
			<div class="col-sm-4">
				<div class="panel panel-green no-radius text-center">
					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
						<h2 class="StepTitle">patients</h2>
						<p class="links cl-effect-1">
								Total #Patients: <h3 style="color: white;">{{ patients}}</h3>
						</p>
					</div>
				</div>
			</div></a>

		<a href="{% url 'doctors_list' %}">
			<div class="col-sm-4">
				<div class="panel panel-blue no-radius text-center">
					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
						<h2 class="StepTitle"> Doctors</h2>
						<p class="links cl-effect-1">
								 Total #Doctors: <h3 class="text-white">{{ doctors}}</h3>
						</p>
					</div></div></div></a>

				<a href="{% url 'appointments_list' %}">
					<div class="col-sm-4">
						<div class="panel panel-blue no-radius text-center">
							<div class="panel-body">
								<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
								<h2 class="StepTitle"> Appointments</h2>
								<p class="links cl-effect-1">
										 Total #Appointments: <h3 style="color: white;">{{ appointments}}</h3>
								</p>
							</div></div></div></a>
				</div></div>
	{% elif user.doctor %}
		<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-green no-radius text-center">
					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
						<h2 class="StepTitle text-white">Profile</h2>

						<p class="links cl-effect-1">
							<a class="text-white" href="#patients">
							Update Profile
							</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="panel panel-blue no-radius text-center">
					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
						<h2 class="StepTitle text-white"> Patients</h2>

						<p class="links cl-effect-1">
							<a class="text-white" href="manage-medhistory.php">
								 Total #Patients
							</a>
						</p>
					</div></div></div>

				<div class="col-sm-4">
					<div class="panel panel-blue no-radius text-center">
						<div class="panel-body">
							<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>

						<h4 class="my-2 text-white" style="font-size: 30px;">Medical Record</h4>
							<p class="cl-effect-1">
								<a class="text-white" href="ASview-patient.php">
								Patient Medical Record
								</a>
								</a>
							</p>
						</div>
					</div>
				</div>

					<div class="col-sm-4">
						<div class="panel panel-blue no-radius text-center">
							<div class="panel-body">
								<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
								<h2 class="StepTitle text-white"> Appointments</h2>

								<p class="links cl-effect-1">
									<a class="text-white" href="manage-medhistory.php">
										 Total #Appointments
									</a>
								</p>
							</div></div></div>

				</div></div>
	{% elif user.patient %}
		<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-green no-radius text-center">
					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
						<h2 class="StepTitle">My Profile</h2>

						<p class="links cl-effect-1">
							<a href="edit-profile.php">
								Update Profile
							</a>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="panel panel-blue no-radius text-center">
					<div class="panel-body">
						<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
						<h2 class="StepTitle">Medical History</h2>

						<p class="links cl-effect-1">
							<a href="manage-medhistory.php">
								 Press here
							</a>
						</p>
					</div></div></div>
				</div></div>
		{% else %}
			<div class="container-fluid container-fullw bg-white">
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-green no-radius text-center">
						<div class="panel-body">
							<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
							<h2 class="StepTitle">My Profile</h2>

							<p class="links cl-effect-1">
								<a href="edit-profile.php">
									Update Profile
								</a>
							</p>
						</div>
					</div>
				</div>
			</div></div>
	{% endif %}

{% endblock content %}
