{% extends 'main.html' %}

{% block content %}
  <div id="app">
    <div class="app-content">
      <div class="main-content" >
        <div class="wrap-content container" id="container">
          						<!-- start: PAGE TITLE -->
          <section id="page-title">
          <div class="row">
            <div class="col-sm-8">
              <h1 class="mainTitle">Patient | Medical History</h1>
              </div>
              <ol class="breadcrumb">
                <li>
                <span>Patient</span>
                </li>
                <li class="active">
                <span>Medical History</span>
                </li>
                </ol>
                </div>
                </section>
                <div class="container-fluid container-fullw bg-white">
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="over-title margin-bottom-15">Patient <span class="text-bold">Medical History</span></h5>

                      <table border="1" class="table table-bordered">
                         <tr align="center">
                          <td colspan="4" style="font-size:20px;color:blue">
                           Patient Details</td></tr>

                              <tr>
                                <th scope>Patient Name</th>
                                  <td>{{ user.username }}</td>
                                <th scope>Fee</th>
                                  <td></td>
                              </tr>
                              <tr>
                                <th scope>Patient Mobile Number</th>
                                  <td></td>
                                    <th>Patient Address</th>
                                      <td></td>
                                    </tr>
                                      <tr>
                                        <th>Patient Gender</th>
                                        <td></td>
                                        <th>Patient Age</th>
                                        <td></td>
                                      </tr>
                                    <tr>

                                        <th>Patient Medical History(if any)</th>
                                        <td></td>
                                         <th>Patient Reg Date</th>
                                        <td></td>
                                      </tr>

                                    </table>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                      <tr align="center">
                                       <th colspan="8" >Medical History</th>
                                      </tr>
                                    <tr>
                                        <th>#</th>
                                    <th>Blood Pressure</th>
                                    <th>Weight</th>
                                    <th>Blood Sugar</th>
                                    <th>Body Temprature</th>
                                    <th>Medical Prescription</th>
                                    <th>Visit Date</th>
                                    </tr>

                                  <tr>
                                      <td></td>
                                     <td></td>
                                     <td></td>
                                     <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                </tr>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
