{% extends 'main.html' %}

{% block content %}
  <!-- start: BASIC EXAMPLE -->
  <div class="col-md-12 ">
    <div class="container-fluid container-full bg-white">
    <div class="row">
        </div>

    <a class="text-white" href="{% url 'manage_doctors' %}">
      <div class="col-sm-4">
        <div class="panel panel-blue no-radius text-center">
          <div class="panel-body">
            <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
            <h4 class="my-2 text-white" style="font-size: 30px;">Manage Doctor</h4>
            <p class="cl-effect-1">
              Update or Delete a Doctor
              </a>
            </p>
          </div></div></div></a>
          
          <div class="col-sm-4">
        <div class="panel-red no-radius text-center">
          <div class="panel-body">
            <span class="fa-stack fa-2x"> <i class="ti-files fa-1x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                                <h4 class="my-2 text-white" style="font-size: 30px;">Register Doctor</h4>


          <p class="links cl-effect-1">
              <a class="text-white" href="add-doctor.php">
              press here:
  </a>
            </p>

          </div>
        </div>
      </div>

  <div class="col-sm-4">
        <div class="panel panel-green no-radius text-center">
          <div class="panel-body">
            <span class="fa-stack fa-2x"> <i class="ti-files fa-1x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>


                <h4 class="my-2 text-white" style="font-size: 30px;">Approve Doctor</h4>

            <p class="links cl-effect-1">
              <a href="approve-doctor.php">
                <a class="text-white" href="doctors_job_request.php">
              </a>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-green no-radius text-center">
          <div class="panel-body">
            <span class="fa-stack fa-2x"> <i class="ti-files fa-1x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                <h4 class="my-2 text-white" style="font-size: 30px;">Doctor Specialization</h4>
            <p class="links cl-effect-1; my-1 text-white">
              <a href="doctor-specilization.php">
                <a class="text-white" href="doctor-specilization.php">
                press here:
              </a>
              </a>
            </p>
          </div>
        </div>
      </div>
  <div class="col-sm-4">
        <div class="panel panel-blue no-radius text-center">
          <div class="panel-body">
            <span class="fa-stack fa-2x"> <i class="ti-files fa-1x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
            <h2 class="StepTitle; my-2 text-white"> Search Doctor </h2>									<p class="links cl-effect-1; my-2 text-white">
              <a  href="doctor_search.php">
                <a class="text-white" href="doctor_search.php">
          press here::
              </a>
              </a>
            </p>
          </div>
        </div>
      </div>
  <!-- end: SELECT BOXES -->
  </div>
{% endblock content %}
