{% extends 'main.html' %}

{% block content %}
{% if user.admin %}
      <div class="container-fluid container-fullw bg-white">
      <div class="row">
        </div>
        <div class="col-sm-4">
          <div class="panel panel-green no-radius text-center">
            <div class="panel-body">
              <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
              <h4 class="my-2 text-white" style="font-size: 30px;">Manage Patients</h4>
              <p class="cl-effect-1">
                <a class="text-white" href="manage-patient.php">
            press here:
                </a>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-blue no-radius text-center">
            <div class="panel-body">
              <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-users fa-stack-1x fa-inverse"></i> </span>

            <h4 class="my-2 text-white" style="font-size: 30px;">Medical_History</h4>
              <p class="cl-effect-1">
                <a class="text-white" href="ASview-patient.php">
                press here
                </a>
                </a>
              </p>
            </div>
          </div>
        </div>

    <div class="col-sm-4">
          <div class="panel panel-red no-radius text-center">
            <div class="panel-body">
              <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
            <h4 class="my-2 text-white" style="font-size: 30px;">Register Patient</h4>
              <p class="links cl-effect-1">
                <a class="text-white" href="admit-patient.php">
    press here :
    </a>
              </p>
            </div>
          </div>
        </div>

    <div class="col-sm-4">
          <div class="panel panel-red no-radius text-center">
            <div class="panel-body">
              <span class="fa-stack fa-2x"> <i class="ti-files fa-1x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
            <h4 class="my-2 text-white" style="font-size: 30px;">Approve patients</h4>
              <p class="links cl-effect-1">
                <a href="approve_patient.php">
                  <a class="text-white" href="patient_request.php">
              press here
                </a>
                </a>
              </p>
            </div>
          </div>
        </div>
    <div class="col-sm-4">
          <div class="panel panel-yellow no-radius text-center">
            <div class="panel-body">
              <span class="fa-stack fa-2x"> <i class="ti-files fa-1x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
            <h4 class="my-2 text-white" style="font-size: 30px;"> Discharge Patient</h4>
              <p class="links cl-effect-1">
                <a href="Admin_discharge.php">
                  <a class="text-white" href="Admin_discharge.php">
                    press here:
                </a>
                </a>
              </p>
            </div>
          </div>
        </div>

    <div class="col-sm-4">
          <div class="panel panel-green no-radius text-center">
            <div class="panel-body">
              <span class="fa-stack fa-2x"> <i class="ti-files fa-1x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
            <h4 class="my-2 text-white" style="font-size: 30px;"> Search Patient</h4>

              <p class="links cl-effect-1">
                <a class="text-white" href="Patient-search.php">
    press here
                </a>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    {% elif user.doctor %}
      <!-- start: BASIC EXAMPLE -->
        <div class="container-fluid container-fullw bg-white">
        <div class="row">

          <div class="col-sm-4">
            <div class="panel panel-blue no-radius text-center">
              <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                <h2 class="StepTitle">Add Patient</h2>
                <p class="cl-effect-1">
                  <a href="add-patient.php">
                    Add Patient
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-yellow no-radius text-center">
              <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                <h2 class="StepTitle">Manage Patient</h2>

                <p class="cl-effect-1">
                  <a href="Manage-patient.php">
                    Manage Patient
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-red no-radius text-center">
              <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                <h2 class="StepTitle">Patient Record</h2>

                <p class="cl-effect-1">
                  <a href="DSview-patient.php">
                    View Patient Record
                  </a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel panel-red no-radius text-center">
              <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                <h2 class="StepTitle">Patient Record</h2>

                <p class="cl-effect-1">
                  <a href="Dview-patient.php">
                    View Patient Record
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-green no-radius text-center">
              <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                <h2 class="StepTitle">Add Patient Medical History</h2>

                <p class="cl-effect-1">
                  <a href="add_medical_history.php">
                    Add
                  </a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    {% endif %}
{% endblock content %}
